:root {
    --primary-color: #59CBE8;
    --secondary-color: #004C54;
    --tertiary-color: #B94700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    top: 0;
    background-size: cover;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    font-weight: lighter;
    font-size: 1.55vw;
    padding: 10px 15px;
}

header nav ul li a:hover {
    color: var(--secondary-color)
}

.hero {
    background-image: url('../images/GeometricVector.jpeg');
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-position: center;
    text-align: right;
    padding: 2%;
    color: var(--primary-color)
}


.hero h2 {
    margin-top: 80px;
    margin-right: 20px;
    background-color: var(--tertiary-color);
}

main {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 88%;
}

.group {
    display: flex;
}

.group>h3 {
    border-right: 3px solid black;
    flex: 0 0 10%;
    text-align: right;
    padding-right: 10px;
    font-size: 25px;
}

.group>div {
    flex: 0 0 77%;
}

.profile {
    display: flex;
    padding-left: 20px;
}

#about-me, #work, #contact-me {
    margin-bottom: 30px;
}

.profile div {
    width: 70%;
    padding: 10px;
}

.profile div p {
    margin-bottom: 10px;
    font-size: 18px;
}

#fdphoto {
    background-image: url("../images/fdphoto.jpg");
    width: 250px;
    height: 250px;
    background-size: cover;
    border: 3px solid black;
}

#fdphoto:hover {
    box-shadow: 0 5px 35px 0px rgba(0, 0 , 0, .1);
}  

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
}

.project {
    min-height: 200px;
    max-height: 200px;
    display: flex;
    align-items: flex-end;
    padding-right: 20px;
    margin: 5px;
    border: 3px solid black;
    flex-basis: calc(50% - 1em);

}

.project div p {
    background-color: var(--tertiary-color);
    font-size: 20px;
    padding: 5px;
    display: flex;
    
}

.surf_report {
    min-height: 500px;
    flex-basis: 100%;
}

#surf-img {
    background-image: url("../images/surfing.jpeg");
    background-position: 80%;
}

#led-img {
    background-image: url("../images/led-wall.jpg");
    background-position: 80%;
}

#calculator-img {
    background-image: url("../images/calculator.jpeg");
    background-position: 100%;
}

#pastel-img {
    background-image: url("../images/pastel-puzzles.jpeg");
}

#runbuddy-img {
    background-image: url("../images/runbuddy.png");
    background-position: auto;
}

#surf-img, #led-img, #calculator-img, #pastel-img, #runbuddy-img {
    background-size: cover;
    opacity: 0.7;
}

#surf-img:hover, #led-img:hover, #calculator-img:hover, #pastel-img:hover, #runbuddy-img:hover {
    opacity: 1;
}


#contact-links {
    padding-left: 10px;
    text-align: center;
}

#contact-links a {
    margin: 25px;
    font-size: 18px;
    border-bottom: 3px solid black;
}

#contact-links nav {
    margin-top: 15px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }


    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .profile {
        flex-direction: column;
    }

    .project div p {
        font-size: 11px;
    }

    #contact-links a {
        display: flex;
        flex-direction: column;
        font-weight: lighter;
        border-bottom: none;
    }
}
